Importando Bibliotecas

In [22]:
import pyodbc
import pandas as pd

Criando conexões

In [ ]:


conn = pyodbc.connect(
    'DRIVER={SQL Server};' \
    'SERVER=den1.mssql7.gear.host;' \
    'DATABASE=vendasbicyclon;' \
    'UID=vendasbicyclon;' \
    'PWD=senha@clarify;' \
    'MARS_Connection=yes;'
)

In [28]:
# Função para executar uma query
def executar_query(query):
    return pd.read_sql(query, conn)

In [25]:
query = """
SELECT
    TABLE_SCHEMA,
    TABLE_NAME
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_TYPE = 'BASE TABLE'
        ORDER BY TABLE_SCHEMA, TABLE_NAME
"""

df_tabelas = executar_query(query)
df_tabelas

C:\Users\anthony.souza\AppData\Local\Temp\ipykernel_24888\1397583730.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, conn)

  TABLE_SCHEMA      TABLE_NAME
0          dbo        clientes
1          dbo     itensPedido
2          dbo  linhasProdutos
3          dbo         pedidos
4          dbo        produtos
5          dbo       regionais
6          dbo     sysdiagrams
7          dbo      vendedores

Nome dos clientes

In [26]:
query_cliente = """
SELECT nomeCliente as Clientes
FROM clientes
"""

df_clientes = executar_query(query_cliente)
df_clientes

C:\Users\anthony.souza\AppData\Local\Temp\ipykernel_24888\1397583730.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, conn)

                    Clientes
0         Velocycle Emporium
1         Pedal & Gear Haven
2    CicloFusion Marketplace
3         BiciMondo Ventures
4   SpinScape Bikes & Beyond
5         CyclaVista Cyclery
6  RollRight Wheels Emporium
7        GearSpin Provisions
8              BikeHub Oasis
9        PedalCraft Boutique

Produtos com valor > 2000 e descrição preenchida

In [27]:
query_produtos = """
SELECT nomeProduto as Produtos, precoUnitario as Valor, descricaoProduto as Descricao
FROM produtos
WHERE precoUnitario > 2000
AND descricaoProduto is not null
"""

df_produtos = executar_query(query_produtos)
df_produtos

C:\Users\anthony.souza\AppData\Local\Temp\ipykernel_24888\1397583730.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, conn)

,Produtos,Valor,Descricao
0,Summit Seeker 2000,2499.0,Mountain Bike com suspens?o dianteira e traseira
1,Velocity Racer 3000,3499.0,Road Bike de carbono leve
2,E-Power Cruiser 6000,2399.0,Electric Bike com motor de pedal assistido
3,Junior Adventurer 8000,2999.0,Kids Bike para crian?as de 6 a 9 anos
4,Expedition Voyager 11000,2799.0,Touring Bike para viagens longas e aventuras