Importando biblioteca

In [1]:
import pandas as pd

Criação Dataframe

In [17]:
df_entregas = pd.DataFrame({
    'id_entrega': [1,2,3],              # Chave primaria
    'filial'    : ['SP', 'RJ', 'MG'],
    'status'    : ['Entregue', 'Atrasado', 'Entregue']
})

df_custos = pd.DataFrame({
    'id_custo'   : [1,2,3],              # Chave primaria
    'id_entrega' : [1,1,3],              # Chave estrangeira
    'custo'       : [1000.5, 15000.20, 1255.25]
})

Join

In [18]:
# Inner Join

df_inner = pd.merge(df_entregas, df_custos, on='id_entrega', how='inner')
print(df_inner)

   id_entrega filial    status  id_custo     custo
0           1     SP  Entregue         1   1000.50
1           1     SP  Entregue         2  15000.20
2           3     MG  Entregue         3   1255.25

In [19]:
# Left Join

df_left = pd.merge(df_entregas, df_custos, on='id_entrega', how='left')
print(df_left)

   id_entrega filial    status  id_custo     custo
0           1     SP  Entregue       1.0   1000.50
1           1     SP  Entregue       2.0  15000.20
2           2     RJ  Atrasado       NaN       NaN
3           3     MG  Entregue       3.0   1255.25

In [22]:
# Right Join

df_right = pd.merge(df_entregas, df_custos, on='id_entrega', how='right')
print(df_right)

   id_entrega filial    status  id_custo     custo
0           1     SP  Entregue         1   1000.50
1           1     SP  Entregue         2  15000.20
2           3     MG  Entregue         3   1255.25

In [20]:
# full outer Join

df_full = pd.merge(df_entregas, df_custos, on='id_entrega', how='outer')
print(df_full)

   id_entrega filial    status  id_custo     custo
0           1     SP  Entregue       1.0   1000.50
1           1     SP  Entregue       2.0  15000.20
2           2     RJ  Atrasado       NaN       NaN
3           3     MG  Entregue       3.0   1255.25

In [26]:
df_entregas_idx = df_entregas.set_index('id_entrega')
df_custos_idx = df_custos.set_index('id_entrega')

df_join = df_entregas_idx.join(df_custos_idx, how='left')
df_join.reset_index()

   id_entrega filial    status  id_custo     custo
0           1     SP  Entregue       1.0   1000.50
1           1     SP  Entregue       2.0  15000.20
2           2     RJ  Atrasado       NaN       NaN
3           3     MG  Entregue       3.0   1255.25